.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 3rem;
  background-color: #f9f9f9;
}


.heroImage {
  flex: 1;
  display: flex;
  justify-content: center;
}

.heroImage img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}


.heroContent {
  flex: 1;
  text-align: left;
}

.heroContent h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 1rem;
}

.heroContent p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-family: "poopins";
}

.buttoncontainer{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.heroBtn {
  background-color: #0078ff;
  color: white;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.heroBtnForAddProperty{
  background-color: green;
  color: white;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.heroBtnForAddProperty:hover{
  background-color: #222;
  color: #f9f9f9;
}
.heroBtn:hover {
  background-color: #005fcc;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 3rem 1.5rem;
  }

  .heroImage img {
    max-width: 90%;
  }

  .heroContent {
    text-align: center;
  }

  .heroContent h1 {
    font-size: 2rem;
  }

  .heroContent p {
    font-size: 1rem;
  }
}
