.container {
  min-width: 100vw;
  background: transparent;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.select :global(.react-select__control) {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: none;
  transition: all 0.2s ease;
}

.select :global(.react-select__control--is-focused) {
  border-color: #333;
  box-shadow: 0 0 0 1px #333;
}

.select :global(.react-select__control:hover) {
  border-color: #333;
}

.clearBtn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.clearBtn:hover {
  background: #b02a37;
}

/* 📱 Responsive Layout */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 10rem;
    min-height: 10rem;
    row-gap: 0.8rem;
  }

  .filters button {
    grid-column: span 2;
  }

  .input {
    font-size: 13px;
    padding: 6px;
  }
}
