#root{
 
  /* === Global font & base styles === */
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  color: #333;
   background-color:#f0f2f5 ;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
